version: 2
updates:
  # Devcontainer Configuration Updates
  - package-ecosystem: "devcontainers"
    directory: "/"
    schedule:
      interval: weekly
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
    labels:
      - "area: devcontainers"
      - "area: dependencies"

  # Docker Devcontainer Updates
  - package-ecosystem: "docker"
    directory: "/.devcontainer"
    schedule:
      interval: "weekly"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
    labels:
      - "area: dependencies"
      - "area: devcontainers"
      - "area: docker"
