# General
alias ..="cd .."

# Terraform
alias tf="terraform"
alias tfi="terraform init"
alias tfp="terraform plan"
alias tfa="terraform apply"
alias tfd="terraform destroy"
alias tfw="terraform workspace"

# Ansible
alias ap="ansible-playbook"

# EXA
alias ll="exa"
