# General
alias ..="cd .."
alias ls="ls --color"
alias ll="ls -la --color"
alias tree="tree -C"

# Git
alias gco="git checkout"
alias gb="git branch -b"
alias gf="git fetch"
alias gu="git fetch && git pull"
alias gp="git push"
alias gcp="git cherry-pick"

# Terraform
alias tf="terraform"
alias tfi="terraform init"
alias tfp="terraform plan"
alias tfa="terraform apply"
alias tfd="terraform destroy"
alias tfw="terraform workspace"

# Ansible
alias ap="ansible-playbook"

# Kubernetes
alias k="kubectl"
